* {
    font-family: "Montserrat", sans-serif;
}

#title {
    background-color: #ff4c68;
    color: white;
}

.navbar-brand {
    font-family: Ubuntu, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem 0;
}

.nav-item {
    padding: 0 18px;
    font-family: "Montserrat-Light", sans-serif;
}

.download-app {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
}

.header-highlight {
    font-family: "Montserrat-Black", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.download-btn {
    margin: 5% 3% 5% 0;
}

/*Features section*/
#features {
    padding: 7% 15%;
    background-color: #fff;
    z-index: 1;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 3%;
}

.feature-box h3 {
    font-family: "Montserrat-Bold";
}

.feature-box p {
    color: #8f8f8f;
}

.icon-4 {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon-4:hover {
    color: #ff4c68;
}

#testimonials {

    background-color: #ef8172;
    text-align: center;
    color: #fff;
}

.carousel-item {
    padding: 7% 15%;
}

#testimonials h2 {
    font-family: "Montserrat-Bold";
    font-size: 2.5rem;
}

#testimonials img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.testimony-profile {
    margin-top: 3%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding: 0 2% 3% 2%;
}

.press-logo {
    width: 15%;
    margin-bottom: 2%;
}

@media (max-width: 770px) {
    .download-app {
        position: static;
        transform: rotate(0);
    }

    .container-fluid {
        text-align: center;
    }
}

#cta {
    background-color: #ff4c68;
    text-align: center;
    /*margin: 3% 30%;*/
    padding: 3% 20% 5% 20%;
}

#cta h3 {
    font-family: "Montserrat-Black";
    line-height: 3rem;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}

/*Footer section*/
#footer {
    background-color: #fff;
    text-align: center;
    padding: 7% 15%
}

.footer-icons i {
    padding: 0.5rem;
}

#pricing {
    padding: 100px;
    text-align: center;
}

#pricing p {
    color: #8f8f8f;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

em {
    color: #ddd
}

.copyright {
    color: #8f8f8f;
}















